* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.main-content {
    height: calc(150vh);
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: left;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

.moped-contain {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

.reviews-contain {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.review-item {
    background-color: black;
    color: whitesmoke;
    height: 300px;
    width: 20%;
    text-align: center;
    align-items: center;
    display: flex;
    margin: 10px;
}

.dataCompany-contain {
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}
h1{
    margin: 20px;
}

